<h1>
    Listado de Proveedores</h1>
<form>

    <!-- <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="producto.precioProducto" [ngModelOptions]="{standalone: true}" placeholder="180000..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="consultarMayorQue()" type="button" id="button-addon2">Consultar</button>
        </div>
    </div> -->



</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">NIT</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">VER PRODUCTOS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedor of proveedores">
            <th scope="row">{{proveedor.nitProveedor}}</th>
            <td>{{proveedor.nomProveedor}}</td>
            <td>{{proveedor.telProveedor}}</td>
            <td>{{proveedor.emailProveedor}}</td>
            <td>
                <button type="button" class="btn btn-dark" name="ver-productos" (click)="verProductos(proveedor.nitProveedor)">Ver Productos</button>

            </td>
        </tr>
    </tbody>
</table>