<h1>Listado de Proveedores</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">NIT</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">EMAIL</th>
            <th scope="col">VER PRODUCTOS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedor of proveedores">
            <th scope="row">{{proveedor.nitProveedor}}</th>
            <td>{{proveedor.nomProveedor}}</td>
            <td>{{proveedor.telProveedor}}</td>
            <td>{{proveedor.emailProveedor}}</td>
            <td>
                <button type="button" class="btn btn-dark" name="ver-productos" (click)="verProductos(proveedor.nitProveedor)">Ver Productos</button>

            </td>
        </tr>
    </tbody>
</table>